@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Yusei+Magic&display=swap");
.container-countdown {
  position: relative;
  width: 100%;
  text-align: center;
  height: 100vh;
  background: rgba(40, 113, 138, 0.63);
  background-image: url(/fateme-shahabi-QuEfTMR8np4-unsplash.5e06f2b4.jpg);
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-blend-mode: multiply;
}
@media (min-width: 1px) and (max-width: 425px) {
  .container-countdown {
    background-position-x: -100px;
    background-position-y: 180px;
    background-size: cover;
  }
}

.container-outer {
  position: absolute;
  top: 36%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
.container-outer h1 {
  font-size: 10vw;
  margin-bottom: 0;
}
.container-outer h2 {
  font-size: 2vw;
  margin-top: 0;
}
@media (min-width: 1px) and (max-width: 425px) {
  .container-outer {
    top: 50%;
  }
  .container-outer h1 {
    font-size: 12vw;
  }
}

@media (min-width: 1px) and (max-width: 425px) {
  span {
    font-weight: bolder;
  }
}

input {
  border: none;
  padding: 10px 10px;
  background: #1f1f1f;
  border-radius: 0;
  color: white;
  width: 30%;
}
@media (min-width: 1px) and (max-width: 425px) {
  input {
    width: 60%;
  }
}

input::-webkit-input-placeholder {
  color: #484848;
}

input::-moz-placeholder {
  color: #484848;
}

input:-ms-input-placeholder {
  color: #484848;
}

input::-ms-input-placeholder {
  color: #484848;
}

input::placeholder {
  color: #484848;
}

button {
  border: none;
  padding: 12.5px 20px;
  background: #1f1f1f;
  color: white;
  border-radius: 0;
}

.container-countdown-inner {
  margin-top: 2%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container-countdown-inner div:nth-child(1) {
  padding: 20px;
  min-width: 63px;
  font-weight: bold;
}
@media (min-width: 1px) and (max-width: 425px) {
  .container-countdown-inner div:nth-child(1) {
    padding: 15px;
    min-width: 94px;
  }
}
.container-countdown-inner div:nth-child(2) {
  padding: 20px;
  min-width: 63px;
  font-weight: bold;
}
@media (min-width: 1px) and (max-width: 425px) {
  .container-countdown-inner div:nth-child(2) {
    padding: 15px;
    min-width: 94px;
  }
}
.container-countdown-inner div:nth-child(3) {
  padding: 20px;
  min-width: 63px;
  font-weight: bold;
}
@media (min-width: 1px) and (max-width: 425px) {
  .container-countdown-inner div:nth-child(3) {
    padding: 15px;
    min-width: 94px;
  }
}
.container-countdown-inner div:nth-child(4) {
  padding: 20px;
  min-width: 63px;
  font-weight: bold;
}
@media (min-width: 1px) and (max-width: 425px) {
  .container-countdown-inner div:nth-child(4) {
    padding: 15px;
    min-width: 94px;
  }
}

.big-text {
  font-size: 80px;
  color: white;
}
@media (min-width: 1px) and (max-width: 425px) {
  .big-text {
    font-size: 12vw;
  }
}

.popup {
  background: rgba(31,31,31,0.58039);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.popup div {
  background: #1f1f1f;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.popup div p {
  padding: 130px 250px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1.5px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: Poppins, Helvetica, sans-serif;
  background: #1f1f1f;
  color: #fff;
  line-height: 1.5;
  height: 100%;
}

.contaier {
  height: 100%;
}

header {
  text-align: center;
  margin-bottom: 40px;
  background: rgba(0, 0, 0, 0.3);
  padding: 30px;
}

/*# sourceMappingURL=/App.7aaa0588.css.map */